/node_modules
/public/hot
/public/storage
/public/.well-known
/storage/framework
/storage/logs
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.travis.yml
composer.lock
mkdocs.yml

